* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-background: #141414;
  --color-title: #ee0786;
  --color-subtitle: #fcf0f7;
  --font-size-title: 2.6rem;
  --font-subtitle: 1.5rem;
  --font-text: 1.125rem;
  --margins: 1.5rem 3rem;
  --margin-bot: 2.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-subtitle);
  width: 100%;
}

#header {
  display: flex;
  position: fixed;
  align-items: center;
  background-color: var(--color-background);
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 2.5rem;
  box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.32);
  z-index: 1;
  transition: top 0.4s;
}

#header.hidden {
  top: -80px;
}

#logo a {
  text-decoration: none;
  font-size: 28px;
}

#logo a:hover {
  color: #f161b1;
  text-shadow: 0 0 15px rgba(214, 3, 116, 0.589);
}

#navbar__links {
  display: flex;
  list-style: none;
  align-items: center;
}

#navbar__links a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

#navbar__links a:hover {
  text-decoration: underline;
  color: var(--color-title);
  text-shadow: 0 0 15px rgba(214, 3, 115, 0.64);
}

#logo a,
#navbar__links a {
  color: #ee0786;
  padding: 1rem;
}

#navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#about {
  display: flex;
  justify-content: space-around;
  margin: 10rem 5rem 5rem 5rem;
}

.about-me-text {
  width: 495px;
}

.name {
  font-size: 3.4rem;
}

.name span {
  font-size: 5rem;
  color: var(--color-title);
}

.proft {
  display: flex;
  margin-top: 0.5rem;
  font-size: 1.8rem;
  margin-bottom: var(--margin-bot);
}

.title-about-me {
  color: var(--color-title);
  font-size: var(--font-subtitle);
  margin-bottom: 1rem;
}

.about-me {
  display: flex;
  font-size: 20px;
  line-height: 1.5;
}

#tec h2 {
  text-align: center;
  font-size: var(--font-size-title);
  color: var(--color-title);
  margin-bottom: var(--margin-bot);
}

#all-tec {
  display: flex;
  justify-content: center;  
}

.tecno {
  box-shadow: 0 0 15px rgba(26, 24, 25, 0.64);
  margin-top: 1rem;
  padding: 1rem;
  margin: 1.5rem;
  display: flex;
}

.container-tec {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: var(--margin-bot);
}

.container-tec span {
 display: none;
}

.container-tec:hover span {
 display: block;
 position: absolute;
}

.tecno img {
  width: 95px;
}

#projects h2 {
  text-align: center;
  font-size: var(--font-size-title);
  color: var(--color-title);
  margin-bottom: var(--margin-bot);
}

#all-projects {
  display: flex;
  justify-content: space-around;
}

.projects-info {
  text-align: center;
  width: 500px;
}

.projects-info h3 {
  margin: 10px;
}

.projects-info .img {
  width: 450px;
  height: 340px;
  border-radius: 20px;
  margin-bottom: 1rem;
}

#project-01 {
  background-image: url(img/project-01.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

#project-02 {
  background-image: url(img/project-02.PNG);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.des {
  margin: 10px;
  line-height: 1.5rem;
}

.btn {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.about-project {
  line-height: 1.5rem;
}

.project-btn {
  width: 160px;
  height: 40px;
  border-radius: 50px;
  border-style: none;
  color: var(--color-subtitle);
  background-color: var(--color-title);
  transition: 0.5s;
}

.project-btn:hover {
  background-color: #dd2e8e;
  box-shadow: 0 0 15px rgba(214, 3, 116, 0.589);
}

footer {
  display: flex;
  margin-top: 10rem;
  height: 60px;
  justify-content: center;
}

@media (max-width: 1100px) {
  #about {
    margin: 10rem 2rem 5rem 5rem;
    flex-direction: column;
  }

  #all-tec {
    display: flex;
    flex-wrap: wrap;
  }

  #all-projects {
    flex-direction: column;
    align-items: center;
  }

  .projects-info {
    margin-bottom: 3rem;
  }
}

@media (max-width: 650px) {
  #header {
    padding: 0 1rem;
  }

  #logo a,
  #navbar__links a {
  padding: .5rem;
}
  
  #about {
    margin: 10rem 2rem 5rem 2rem;
  }

  .about-me {
    padding-right: 1rem;
  }
  
}

@media (max-width: 500px) {

  #projects {
    display: grid;
  }
 
}