:root {
  --color-background: #302f2f;
  --color-title: #ee0786;
  --color-subtitle: #fcf0f7;
  --font-size-title: 2.6rem;
  --font-subtitle: 1.5rem;
  --font-text: 1.125rem;
  --margins: 1.5rem 3rem;
  --margin-bot: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-subtitle);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-background);
}

.navbar {
  margin: var(--margins);
  position: sticky;
  z-index: 1;
}

.nav__logo {
  display: flex;
  font-size: var(--font-subtitle);
  color: var(--color-title);
}

.nav__logo a {
  text-decoration: none;
  color: var(--color-title);
}

.nav__logo i {
  font-size: 1.7rem;
  padding-left: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.nav__logo i:hover {
  color: #f161b1;
  text-shadow: 0 0 15px rgba(214, 3, 116, 0.589);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
}

.navbar__links {
  display: flex;
}

.navbar__links li {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
}

.navbar .navbar__links a {
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  color: var(--color-subtitle);
  transition: 0.5s;
}

.navbar .navbar__links a:hover {
  text-decoration: underline;
  color: var(--color-title);
  text-shadow: 0 0 15px rgba(214, 3, 115, 0.64);
}

.sobre {
  display: flex;
  justify-content: space-around;
  margin: 10rem 5rem 5rem 5rem;
}

.about-me-text {
  width: 495px;
}

.name {
  font-size: 3.4rem;
}

.proft {
  display: flex;
  margin-top: 0.5rem;
  font-size: 1.8rem;
  margin-bottom: var(--margin-bot);
}

.title-about-me {
  color: var(--color-title);
  font-size: var(--font-subtitle);
  margin-bottom: 1rem;
}

.about-me {
  display: flex;
  line-height: 1.5;
}

.tecno {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.tec-logo {
  width: 95px;
  padding: 0.5rem;
  color: rgb(241, 97, 177);
}

.sub-tecno {
  display: flex;
  color: var(--color-title);
  font-size: var(--font-size-title);
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-bot);
}

.container-tecno {
  position: relative;
  display: inline-block;
  padding: 1rem;
}

.bg-tecno {
  box-shadow: 0 0 15px rgba(26, 24, 25, 0.64);
  transition: transform 0.3s ease-in-out;
  margin-top: 1rem;
}

.bg-tecno:hover {
  transform: scale(1.05);
}

.sub-project {
  display: flex;
  color: var(--color-title);
  font-size: var(--font-size-title);
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-bot);
  margin-top: var(--margin-bot);
}

.container-projects {
  display: flex;
  justify-content: space-around;
}

.for-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
}

.project-title {
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.project-01 {
  width: 360px;
  height: 460px;
  background-image: url(img/project-01.png);
  background-size: cover;
  background-position: 100% 0%;
  transition: 7s;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.project-01:hover {
  background-position: 100% 100%;
}

.project-02 {
  width: 360px;
  height: 460px;
  background-image: url(img/project-02.PNG);
  background-size: cover;
  background-position: center;
  transition: 7s;
  border-radius: 20px;
  margin-bottom: 1rem;
} 

.container-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: var(--margin-bot);
}

.project-btn {
  width: 160px;
  height: 40px;
  border-radius: 50px;
  border-style: none;
  color: var(--color-subtitle);
  background-color: var(--color-title);
  transition: 0.5s;
}

.project-btn:hover {
  background-color: #dd2e8e;
  box-shadow: 0 0 15px rgba(214, 3, 116, 0.589);
}

footer {
  display: flex;
  margin-top: 5rem;
  height: 60px;
  justify-content: center;
}

@media (max-width: 1100px) {
  .sobre {
    margin: 10rem 2rem 5rem 2rem;
  }

  .container-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 950px) {
  .sobre {
    margin: 10rem 2rem 5rem 2rem;
    flex-direction: column;
  }

  .tecno {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }

  .container-tecno {
    width: calc(
      50% - 1rem
    );
    margin-bottom: 1rem; 
  }

  .responsivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 750px) {
  
  .sobre {
    margin-top: 10rem;
    flex-direction: column;
  }

  .responsivo {
    flex-wrap: wrap;
    justify-content: center;
  }
}
